<div data-id="A07" class="A07-blog-feed-tile small-12">
    <div class="bf-feature-image">
        <!--image set as background-->
        <img src="https://source.unsplash.com/random/750x450" alt="feature image">
    </div>
    <div class="bf-content-overlap">
        <div class="bf-heading">
            <h2>Dream house in brighton</h2>
        </div>
        <div class="bf-desc">
            <p> ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit felis, venenatis sed consectetur non, euismod ac leo. Donec sed massa ac felis cursus faucibus. Phasellus pellentesque odio quis lectus elementum tincidunt. Pellentesque vestibulum massa mauris, nec consectetur risus bibendum feugiat. Suspendisse porta condimentum sodales. Nam ut ligula bibendum, pretium odio eu, fermentum eros.</p>
        </div>
        <div class="bf-button button bold">Read post</div>
    </div>
</div>

<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
  </div>
</script>