.general-button {
    display: block;
    padding: 20px;
    margin: 0 auto;
    min-width: 300px;

    @include themify($themes) {
        background-color: themed('tertiaryColor'); 
    }

    &:hover {
        @include themify($themes) {
            background-color: themed('primaryColor'); 
            color: white;
        }
    }
}