<div class="C03-navigation-bar" data-id="C03">
    <div class="nav-controls grid-container">
        <div class="grid-x">
           <div class="small-1 cell open">BURGER</div>
           <div class="small-1 small-offset-10 cell search">SEARCH</div>
        </div> 
    </div>
    <div class="nav-cont nav-active grid-x">
        <div class="search small-10 cell">
            <label for="mob-search">Search</label>
            <input id="mob-search" class="mob-seach" placeholder="Search">
        </div>
        <div class="close small-1 small-offset-1">X</div>
        <ul class="menu-items">
            <li class="menu-item">Lifestyle</li>
            <li class="menu-item">Beauty</li>
            <li class="menu-item">Food</li>
            <li class="menu-item">Technology</li>
        </ul>
        <div class="subscribe-button">JOIN</div>
        <div class="social">F T I Ls</div>
    </div>
</div>