
<div class="C04-feature-carousel" data-id="C04">
    <div class="feature-carousel feature-carousel-cont">
        <!--slides wll be appended here-->
        
        <!--<div class="slide">
            <div class="slide-cover"></div>
            <div class="slide-details">
                <a href="#">
                    <h2 class="slide-title">Tech skills you need in 2018</h2>
                    <p class="slide-date">10.10.10</p>
                </a>
            </div>
        </div>
        <div class="slide">
            <div class="slide-cover"></div>
            <div class="slide-details">
                <h2 class="slide-title"><a href="#">Tech skills you need in 2018</a></h2>
                <p class="slide-date">10.10.10</p>
            </div>
        </div>
        <div class="slide">
            <div class="slide-cover"></div>
            <div class="slide-details">
                <h2 class="slide-title"><a href="#">Tech skills you need in 2018</a></h2>
                <p class="slide-date">10.10.10</p>
            </div>
        </div>-->
    </div>
</div>