
<div class="C04-feature-carousel" data-id="C04">
    <div class="feature-carousel">
        <div class="slide">
            <div class="slide-cover"></div>
            <div class="slide-details">
                <h2 class="slide-title"><a href="#">Tech skills you need in 2018</a></h2>
                <p class="slide-date">10.10.10</p>
            </div>
        </div>
        <div class="slide">
            <div class="slide-cover"></div>
            <div class="slide-details">
                <h2 class="slide-title"><a href="#">Tech skills you need in 2018</a></h2>
                <p class="slide-date">10.10.10</p>
            </div>
        </div>
        <div class="slide">
            <div class="slide-cover"></div>
            <div class="slide-details">
                <h2 class="slide-title"><a href="#">Tech skills you need in 2018</a></h2>
                <p class="slide-date">10.10.10</p>
            </div>
        </div>
    </div>
</div>