<div class="C05-blog-tiles" data-id="C05">
    <div class="grid-container">
        <div id="blog-tiles-cont" class="grid-x">
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
            {{> A05-blog-tile}}
        </div>
    </div>
</div>