<div data-id="C12-blog-post" class="C12-blog-post">
    <div class="bp-feature-image">
        <!--image set as background-->
        <img src="https://source.unsplash.com/random/750x450" alt="feature image">
    </div>
    <div class="bp-content-overlap">
        <div class="bp-heading">
            <h2>Dream house in brighton</h2>
        </div>
        <div class="bp-content">
            <p>ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit felis, venenatis sed consectetur non, euismod ac leo. Donec sed massa ac felis cursus faucibus. Phasellus pellentesque odio quis lectus elementum tincidunt. Pellentesque vestibulum massa mauris, nec consectetur risus bibendum feugiat. Suspendisse porta condimentum sodales. Nam ut ligula bibendum, pretium odio eu, fermentum eros.</p>
            <p>ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit felis, venenatis sed consectetur non, euismod ac leo. Donec sed massa ac felis cursus faucibus. Phasellus pellentesque odio quis lectus elementum tincidunt. Pellentesque vestibulum massa mauris, nec consectetur risus bibendum feugiat. Suspendisse porta condimentum sodales. Nam ut ligula bibendum, pretium odio eu, fermentum eros.</p>
            <div class="bp-full-image">
                <img src="https://source.unsplash.com/random/750x450" alt="feature image">
                <p class="caption">This is a random photo from Unsplash</p>
            </div>
            <p>ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit felis, venenatis sed consectetur non, euismod ac leo. Donec sed massa ac felis cursus faucibus. Phasellus pellentesque odio quis lectus elementum tincidunt. Pellentesque vestibulum massa mauris, nec consectetur risus bibendum feugiat. Suspendisse porta condimentum sodales. Nam ut ligula bibendum, pretium odio eu, fermentum eros.</p>
            <p>ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit felis, venenatis sed consectetur non, euismod ac leo. Donec sed massa ac felis cursus faucibus. Phasellus pellentesque odio quis lectus elementum tincidunt. Pellentesque vestibulum massa mauris, nec consectetur risus bibendum feugiat. Suspendisse porta condimentum sodales. Nam ut ligula bibendum, pretium odio eu, fermentum eros.</p>
        </div>
    </div>    
</div>