<div class="C15-about grid-container" data-id="C15">
    <div class="about-cont grid-x grid-margin-x">
        <div class="about-img small-10 small-offset-1 small-order-1 large-3 large-offset-1 large-order-2 cell">
            <img src="assets/img/verity-profile.png" alt="Verity Stothard">
            <img src="assets/img/alfie-profile.png" alt="Alfie Stothard">
        </div>
        <div class="about-text small-10 small-offset-1 small-order-2 large-6 large-offset-1 large-order-1 cell">
            <h2>ABOUT ME</h2>
            <p>Born in the little town of Shewsbury, UK, as a child I moved to Australia with my family 
                for what was supposed to be a temporary opportunity for my Dad. “3 years tops”, he said. 
                Two decades later we are still here, and I got to grow up in sunny Sydney.</p>  
            </br>
            <p>After completing a Bachelor of Business from the University of Technology, Sydney, I felt
                 so close and yet so far from finding my true passion, so I decided to take a 
                 year off from work and study to explore, try new things and give myself the space to 
                 learn what I wanted to, rather than what I felt I ought to.</p> 
            </br>
            <p>Within that year I went travelling with one of my best friends, reconnected with my 
                overseas family, and tried my hand at starting a business. In the proccess of getting 
                set up, I was building a website through a self-build service similar to Squarespace. 
                Frustrated by the limitations of the template, I decided to dig into the code, and managed to 
                break the entire site. Even the support team couldn’t fix it, and advised me that it would be easier to 
                start over.</p> 
            </br>
            <p>Unwilling to accept this answer, I decided I would just learn how to build a website 
                myself. It was then that something ‘clicked’. I became so passionate about learning 
                web development that I abandoned my business idea, completed a few online courses, spent a 
                lot of time on Google, and began building a portfolio. Within 3 months I had been 
                hired as a Junior Developer for an award winning Digital Agency.</p> 
            </br>
            <p>Since landing my first job, I have had the priveldge of working with some truely amazing people 
                who have helped my skillset to skyrocket. I was able to progress from building banner ads 
                and static landing pages, to working on fully dynamic site builds.  
                And now, I have decided the time is right to strike out on my own again, and see what 
                I can create. I am currently working as a Freelance Front End Developer, while also developing 
                a few personal projects on the side. If you’d like to check out my portfolio, you can 
                find it <a class="bold" href="https://www.veritystothard.com">here.</a>
            </p>
            </br>
            <h2>
                CONTACT
            </h2>
            <p>
                If you'd like to get in contact, you're welcome to email me at <a class="bold" href="mailto:veritystothard@gmail.com">veritystothard@gmail.com</a> x
            </p>
        </div>
    </div>
</div>