<div class="C16-subscribe" data-id="C16">
    <div class="grid-container sub-cont">
        <div class="grid-x">
            <div class="small-12 medium-8 medium-offset-2">
                <p class="bold">SIGN UP TO MY NEWSLETTER</p>
                <p>I'll send through exciting updates, new posts &amp; fun stuff to your inbox</p>
                <form accept-charset="UTF-8" action="https://usebasin.com/f/e39b02ec4e28" method="POST">
                    <input class="input-field" id="email" name="email" type="email">
                    <button class="button general-button" type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>