<div class="C17-thankyou" data-id="C17">
    <div class="grid-container">
        <div class="grid-x">
            <div class="small-5 cell">
                <img src="https://media.giphy.com/media/xT1R9H1cA4UVJvz06k/giphy.gif">
            </div>
            <div class="thankyou-text small-5 small-offset-1 cell">
                <h1>Aw, shucks!</h1>
                <p>Thanks so much for signing up to the newsletter, Alfie and I will be in touch shortly with lots of fun stuff xx</p>
                </br> 
                <p><a href="http://localhost:8000/" class="link bold">Go back home</a></p>
            </div>
        </div>
    </div>
</div>