<div class="C18-category-feed grid-container" data-id="C18">
    <div class="grid-x grid-margin-x">
        <div id="category-feed-cont" class="small-10 small-offset-1 large-8 large-offset-2 cell">
            <p class="loading" style="text-align: center">Loading posts...</p>
        </div>
        <div class="pagination-cont small-10 small-offset-1 large-8 large-offset-2 cell">
            <ul class="pagination">
                <li class='active'></li>
            </ul>
        </div>
    </div>
</div>

