.C01-alert-bar {
    @include themify($themes) {
        color: themed('blogWhite');  
        background-color: themed('secondaryColor');  
    }

    padding: 5px 40px 5px 30px;
    text-align: center;

    @include breakpoint(medium) {
        padding: 5px 30px;
    }

    .close {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 3px;

        svg {
            width: 15px;
        }
    }
}