.C03-navigation-bar {
    @include themify($themes) {
        background: themed('blogWhite');
        border-bottom: 1px solid;  
        border-color: themed('blogGrey'); 
        z-index: themed('stickyNav'); 
    }

    position: fixed;
    top: 0;
    width: 100%;

    .nav-controls {
        padding: 20px 0;

        .open {
            text-align: center;
            svg {
                margin-top: 10px;
            }
        }

        .nav-logo { 
            margin-top:5px;   
            text-align: center;        
            svg {
                width: 160px;
            }

            a {
                display: block;
            }
        }

        .nav-social {
            display: none;
            padding: 5px 20px 0 0;

            @include breakpoint(large) {
                display: block;
            }

            .social-icons {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;

                .social-icon {
                    &:hover {
                        transform: rotate(5deg);
                    }

                    svg {
                       width: 25px;
                    }
                }
            }
        }

        .search {
            @include themify($themes) {
                border-color: themed('blogGrey'); 
            }
            overflow: auto;
            padding-right: 20px;
            text-align: right;

            svg {
                margin-top: 6px;
                width: 30px;
            }

        }

        .search,
        .open {
            cursor: pointer;
        }


    }
}