.C03a-navigation-mobile {
    .nav-cont {
        @include themify($themes) {
            color: themed('blogWhite');  
            background-color: themed('spaceGrey');  
            z-index: themed('navCont');
        }

        padding: 60px 0px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 500px;
        padding: 60px 40px;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: all 0.7s ease;
        transform: translateX(-600px);

        &::-webkit-scrollbar {
            width: 0px;  /* remove scrollbar space */
            background: transparent;  /* optional: just make scrollbar invisible */
        }

        &.nav-active {
            transition: all 0.7s ease;
            transform: translateX(0px);
        }

        ul, li {
            @include themify($themes) {
                color: themed('blogWhite');  
            }
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px 20px;

            svg {
                width: 20px;
            }
        }

        .search {
            margin: 0 0 40px;
            label {
                display: none;
            }

            input {
                background: none;
                color: #ffffff;
                font-size: 20px;
                outline: none;
                border: none;
                padding: 10px 20px 10px 0px;
                width: 80%;
            }

            .mob-search-submit {
                cursor: pointer;
                float: right;
                padding: 10px 0 0 20px;
                transition: transform 0.2s ease;
                width: 19%;

                &:hover {
                    transform: translateX(5px);
                    transition: transform 0.2s ease;
                }
                svg {
                    fill: #ffffff;
                }

            }
        }

        .close {
            cursor: pointer;
        }

        .menu-items {
            list-style: none;
            margin: 0 0 40px; 
            padding: 0;

            .menu-item {
                font-size: 25px;
                font-style: italic;
                font-weight: 600;
                margin: 10px 0;
                text-transform: uppercase;
                
                a &::before {
                    content: '// '
                }
            }            
        }

        .subscribe-button {
            @include themify($themes) {
                color: themed('blogWhite');  
                background-color: themed('tertiaryColor');  
            }
            border-radius: 5px;
            font-size: 20px;
            font-weight: 600;
            max-width: 200px;
            width: 100%;
        }

        .social {
            margin: 40px 0;
            
            .icon {
                cursor: pointer;
                display: inline-block;
                margin: 0 10px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .page-links {
            &::before {
                @include themify($themes) {
                    border-color: themed('blogWhite');  
                }
                border-top: 1px solid;
                content: " ";
                display: block;
                padding-top: 20px;
                width: 80%;
                max-width: 336px;
            }
        }

        .mob-subscribe {
            color: white;
            p {
                color: white;
                margin-bottom: 10px;
            }

            form {
                display: flex;
                justify-content: space-between;
                width: 100%;

                input {
                    @include themify($themes) {
                        border-color: themed('softGrey');
                    }
                    border: 1px solid;
                    margin: 0;
                    height: 58px;
                    padding-left: 20px;
                    padding-right: 20px;
                    width: 70%;
                }

                button {
                    @include themify($themes) {
                        border-color: themed('tertiaryColor');
                    }

                    border: 2px solid;

                    &:hover {
                        @include themify($themes) {
                            color: themed('tertiaryColor');
                        }
                        background: none;
                    }
                }
            }
        }
    }
}