.C04-feature-carousel {

    .slide {
        position: relative;
        overflow: hidden;

        .slide-cover {
            content: ' ';
            background: url('https://source.unsplash.com/random');
            background-size: cover;
            height: 100vh;
            max-height: 500px;
            width: 100%;
        }

        .slide-details {

            @include themify($themes) {
                background-color: themed('blogWhite'); 
                outline-color: themed('blogWhite');
                // color: themed('blogWhite');
            }

            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            max-width: 320px;
            max-height: 150px;
            outline: none;
            opacity: 0.9;
            outline-offset: 15px;
            padding: 40px 20px;
            text-align: center;
            transform: translate(100px, 0px);
            transition: all 2s ease-in;

            @include breakpoint(medium) {
                max-height: 200px;
                max-width: 600px;
                outline: 4px solid;
                padding: 50px;
                transform: translate(0px, 100px);
            }

            @include breakpoint(large) {
                max-width: 700px;
            }

            //IE only, needs forced width to allow absolute positioning
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* IE10+ CSS styles go here */
            
                border: 2px solid yellow;
                width: 320px;

                @include breakpoint (medium) {
                    width: 600px;
                }

                @include breakpoint(large) {
                    width: 700px;
                }
            }

            // a:hover {
            //     h2,
            //     p {
            //        @include themify($themes) {
            //             color: themed('tertiaryColor');
            //         }
            //     }
            // }

            .slide-title {
                font-size: 20px;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; 

                @include breakpoint(medium) {
                    font-size: 30px;
                    white-space: nowrap;
                }
            }
        }

        &.slick-active {
            .slide-details {
                transform: translateY(0px);
                transition: all 0.8s ease-in-out;
            }
        }
    }


    .slick-dots {
        width: auto;
        transform: rotate(90deg);
        position: absolute;
        right: 0;
        top: 0;
    }
}