.C07-instafetch {
     @include themify($themes) {
        color: themed('tertiaryColor');  
        background-color: #f0f0f0;
    }

    background: url('../img/desk-blur.png');
    background-size: cover;
    background-position: center;
    padding: 60px 0;

    .instafetch {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(medium) {
            flex-direction: row;
        }
    }
    article {
        background: #fff;
        padding: 5px;
        margin: 5px;
        width: 100%;
        transition: $blog-tile-transition;

        @include breakpoint(medium) {
            padding: 10px;
            width: 24%;
        }

        &:hover {
            -webkit-transform : rotate(5deg); /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform     : rotate(5deg); /* IE 9 */
            transform         : rotate(5deg);
            transition: $blog-tile-transition;
        }

        p {
            padding: 20px 10px;
            text-align: center;
        }

    }

    .insta-title {
        display: block;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
        width: 100%;

        a {
           font-weight: 700;
        }
    }


} 