.C08-footer {
    padding: 20px 0;

    .social-icon-cont {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .social-icons {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 100%;

            .social-icon {
                &:hover {
                    transform: rotate(5deg);
                }

                svg {
                    width: 25px;
                }
            }
        }
    }
    
}