.C11-blog-feed,
.C18-category-feed {
    margin-top: 50px;

    @include breakpoint(large) {
        margin-top: 80px;
    }

    .heading-cont {
        margin-bottom: 40px;
        text-align: center;
    }



    .pagination-cont {
        .pagination { 
            @include themify($themes) {
                border-color: themed('tertiaryColor');  
                color: themed('spaceGrey');
            }
            border-top: 2px solid;
            display: inline-block;
            padding: 15px 0;
            float: right;
        }
    }
}