h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    @include themify($themes) {
        color: themed('spaceGrey'); 
    }
}

p {
    margin: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        @include themify($themes) {
            color: themed('tertiaryColor'); 
            cursor: pointer; 
        }
    }
}

strong,
strong a {
    font-weight: 700;
}

.bold {
    font-weight: 600;
}

.caption {
    font-size: 0.9rem;
    font-style: italic;
}